.form-control {
    &.has-error {
        border-color: $red;
    }
    @include mq('sm') {
        font-size: 14px;
    }
}

.b-form-group.form-group {
    label {
        span {
            font-size: 12px;
        }
    }
}

.form-text {
    text-align: left;
    &.is-invalid {
        color: $red !important;
    }
    &.has-score {
        &.perfect {
            color: $blue !important;
        }
        &.high {
            color: $green !important;
        }
        &.warning {
            color: $yellow !important;
        }
        &.invalid {
            display: none;
        }
    }
}
